# General
.DS_Store
Thumbs.db
.env
.env.local
*.log

# Docker / build
**/.docker-cache/
**/tmp/
**/vendor/
**/node_modules/
**/__pycache__/
**/*.pyc
**/bin/
**/obj/
**/out/
**/target/
**/*.class
**/shared/benchmark/out/

# IDE
.vscode/
.idea/
